.category {
  display: flex;
  flex-direction: column;

  align-items: center;
  /* text-align: center;
  justify-content: flex-end; */
  margin: 1em;
  padding: 0.5em;
  width: 100%;
  max-height: 30em;
  min-width: 5em;
  background-color: #ffffff;
  z-index: 1;
  border-radius: 0.4em;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 3px 1px rgba(0, 0, 0, 0.1);
}

.category > img {
  height: 20em;
  width: 70%;
  object-fit: contain;
  margin-bottom: 1em;
  margin-top: 1em;
}

.category__button {
  padding: 0.7em 2em;
  border-radius: 0.2em;
  outline: none;
  border: none;
  background-color: #c70874;
  color: #ffffff;
}
.category__button:hover {
  background-color: #f20c5c;
  /* color: #111; */
}

.category__title {
  font-weight: 800;
  color: #131921;
}
